/*
* This file is used to override default jumbotron settings.
*
* It should be loaded AFTER default jumbotron libraries.
*
*/

.jumbotron{
margin-bottom:10px;
}

.row{
margin-right:15px;
}


.canv_bg{
background-image: url("s.jpg");
background-size: cover;
}
